.hostControls {
  position: relative;

  border-top: 4px solid var(--primary);
  padding: 24px 32px 16px;
  background-color: #222;
  height: 80px;

  display: flex;
  justify-content: flex-end;
}

.tag {
  position: absolute;
  top: 0;
  left: 32px;
  padding: 4px;
  background-color: var(--primary);
  border-radius: 0 0 4px 4px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  font-size: 0.6em;
}

.startGameBtn {
  min-width: 128px;
  margin: 0;
  margin-top: -8px;
  border: none;
  border-radius: 4px;
  background-color: rgb(46, 170, 94);
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.5em;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  cursor: pointer;

  transition-duration: 180ms;
  transition-timing-function: ease-in;
  transition-property: background-color, opacity;

  &:disabled {
    opacity: 0.5;
    background-color: #666;
    cursor: not-allowed;
  }
}

.inviteUrlCopyBtn {
  margin-right: 16px;
  border-radius: 4px;
  border: none;
  font-size: 0.65rem;
  background-color: var(--primary);
  color: #000;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0 16px;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  font-size: 0.8rem;
  margin-right: auto;

  &.online .ball {
    background-color: rgb(0, 255, 0);
  }

  .ball {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: rgb(246, 40, 40);
    margin-right: 6px;
  }
}
