.playingScreen {
  display: block;
  padding-top: 64px;
}

.players {
  padding: 24px 16px 24px;
  display: flex;
  overflow-x: auto;

  & > * + * {
    margin-left: 16px;
  }

  &::after {
    content: "";
    display: block;
    min-width: 16px;
  }
}
