:root {
  --background-lighter: #ffffff;
  --background: #f0f0f0;
  --text-color: #333;
  --primary: rgb(0, 112, 218);
  --primary-text: #fff;
}

html,
body,
#root {
  height: 100%;
  background-color: var(--background);
  color: var(--text-color);
}

button {
  transition: opacity 180ms ease-in;

  &:hover:not(:disabled) {
    opacity: 0.8;
  }
}

html,
body,
input,
button,
textarea {
  font-family: "Roboto", sans-serif;
}
